<html>
<head>
<title>All Products</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="/uploads/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.div1{
text-align: right;
}

h3{
text-align: center;
}

.img11{
width:300px;
height:300px;
}

.borderdiv img{
border:1px dashed gray;
}
</style>
<script type="text/javascript">

$(document).ready(function(){
	$("#cartbuy").click(function(){
		var cartcheck = $("input:checkbox[name='cartItems']").is(":checked");
		if (cartcheck == false){
			alert("Please choose at least one item to proceed")
			return false;
		}
	});
});

</script>
</head>
<body>
<div class="container">

  <% if(user){ %>
		<h3>welcome <b> <%=user.username%> </b>!</h3>
		<h3> <b>Level: <%=user.level%> </b></h3>
	<% }%>

	<% if(!user){ %>
		<h3>welcome <b> guest </b>!</h3>
		<h3>Logging in allows you to use cart</h3>
	<% }%>

	<h1><span class="glyphicon glyphicon-globe"></span><strong> All Products</strong></h1><br>
    <nav class="navbar navbar-inverse">
       <div class="collapse navbar-collapse" id="myNavbar">
         <ul class="nav navbar-nav">
           <li><a href="../../" class="glyphicon glyphicon-home"></a></li>
           <li><a href="/work/mall/">Mall Main</a></li>
           <li class="active"><a href="#">All products</a></li>
           <!-- <li><a href="giftGuide">Gift Guide</a></li> -->
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <%if(user && user.level != 'admin'){%>
               <li><a href="myShopping.do?mid=${mid }"><span class="glyphicon glyphicon-user"></span><%=(user.username) %></a></li>
               <li><a data-target="#modal1" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart">Cart</span></a></li>
           <%}%>

           <%if(user && user.level == 'admin') {%>
               <li><a href="#"><span class="glyphicon glyphicon-user"></span><%=(user.username) %></a></li>
               <li><a href="../../work/mall/mallAdmin"><span class="glyphicon glyphicon-warning-sign"></span>Admin Mode</a></li>
           <%}%>
			   </ul>
	    </div>
   </nav>

   <!--   Cart -->
     <div id="modal1" class="modal">
        <div class="modal-dialog lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button class="close" data-dismiss="modal">x</button>
              <%if(user){ %>
                 <h4>My Cart: <%=user.username%></h4>
              <%}%>
              </div>

           <form action="/cartPurchase" method="get">
              <div class="modal-body">
            <%if(user){ %>
                 <% if(!myCart){ %>
                     <h3>Your cart is Empty!</h3>
                 <% } %>
                 <%if(myCart){%>
                   <% for(var i=0;i<myCart.length;i++){ %>
                       <div class="row" style="float:left; width:33%; margin:auto;">
                          <input type="checkbox" id="<%=myCart[i].ITEMNO%>" name="cartItems" value="<%=myCart[i].ITEMNO%>">
                          <label for="<%=myCart[i].ITEMNO%>">itemNo: <%=myCart[i].ITEMNO%></label>
                          <p>itemName: <%=myCart[i].ITEMNAME%></p>
                          <p>Price($): <%=myCart[i].PRICE%></p>
                          <p name="quantity" value="quantity">Quantity: <%=myCart[i].QUANTITY%></p><span></span>
                          <a class="btn btn-danger" href="delCart/<%=myCart[i].ITEMNO%>">remove</a>
                          <p>----------------------------------------</p>
                       </div>
                     <% } %>
                   <% } %>
                   <%}%>

              <div class="modal-footer">
              <%if(user){ %>
                <%if(myCart){%>
                  <p> <%=myCart.length %> Item(s)</p>
                   <input type="submit" class="btn btn-success" id="cartbuy" value="checkout">
                 <%}%>
               <%}%>

              </div>
            </div>
           </form>
         </div>
       </div>
    </div>
   <!-- cart ends -->



	<!--    Search WIP -->
	<div class="row text-center">
		<div  class="col-sm-12">
		   	<form class="navbar-form pull-right" action="allProducts.do?q="+${q} method="get">
				<input type="text" class="span2" name="q" value="${q}" placeholder="keyword" style="width:240px">
				<input type="submit" class="btn" value="search" style=margin:35px/>
			</form>
			<span></span><br><br>
		</div>
	</div>
	<!--    Search Ends -->


	<!-- Main -->
  each page : <%=each_page%>
  total : <%=total%>
   <div class="row text-center">

    <%
    if(rows){
     for(var i=(page*each_page)-each_page; i<page*each_page;i++){
    if(i>total){
      i++;
    }else{
       var item = rows[i];
       %>
		  <div class="col-sm-4">
		    <div class="borderdiv">
         <a href="/work/mall/itemDetail/<%=item.ITEMNO%>"><img src="/<%=item.ITEMIMG%>" class="img11" alt=""></a>
		     <p><a href="/work/mall/itemDetail/<%=item.ITEMNO%>"><strong>    <%=item.ITEMNAME%> </strong></a></p>
		     <p>No:<%=item.ITEMNO%></p><p>$: <%=item.ITEMPRICE%></p>
				<%if(user && user.level=='admin'){ %>
					<p><a href ="/work/mall/itemDel/<%=item.ITEMNO%>"><button class="btn btn-danger">x</button></a></p>
				<% } %>
			</div>
		</div>
		<% }%>
	<% }%>
<% }%>
      <!--  paging wip -->
      <div class="text-center">
        <ul class="pagination">
          <% for(var j=0;j<(rows.length/9);j++){  %>
          <li><a href="/work/mall/products/<%=j+1%>"><%=j+1%></a></li>
          <% } %>
          <br /><br />    <%=page%> / <%= Math.ceil(rows.length/9)%> page
        </ul>
      </div>
      <!--  paging ends -->


	<!--    Main Ends -->

</div>
</body>
</html>
