<!DOCTYPE html>
<html>
<head>
<title>Global Board</title>
<link rel="shortcut icon" href="/uploads/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
#guestWrite:hover
{
color:red
}
</style>
</head>

<body>
<div class="container">
<h1><a href="../" class="glyphicon glyphicon-home lg" ></a>  <%= title %> Board</h1>
<h3>Username: <%=user.username%></h3>
<h3>Level:   <%=user.level%></h3>

<table border="2" class="table table-hover">
    <tr>
        <td><b>SEQ</b></td>
        <td><b>Writer</b></td>
        <td><b>Title</b></td>
        <td><b>Hit</b></td>
        <td><b>RegDate</b></td>
    </tr>
    each page : <%=each_page%>
    total : <%=total%>

  <%
  if(rows){
    for(var i=(page*each_page)-each_page; i<page*each_page;i++){
        if(i>total){
          i++;
        }else{
          var oneItem = rows[i];
    %>
    <tr>
        <td><%=oneItem.idx%></td>
        <td><%=oneItem.writer%></td>
        <td><a href="/work/board/read/<%=oneItem.idx%>"><%=oneItem.title%></a></td>
        <td><%=oneItem.hit%></td>
        <td><%=oneItem.regdate%></td>
    </tr>
    <%
         }
       }
   }
    %>
</table>
<form action="/work/board/search" method="post">
  <input type="text"  placeholder="search" name="search" /><input type="submit" value="Search"/>
</form>
<%if(user.username){%>
<a href="/work/board/write"><button class="btn btn-default pull-right">Write</a>
<%}%>
<%if(!user.username){%>
<div>
  <button id="guestWrite" class="btn btn-default pull-right" disabled>Write</a><br />
  <span>Login is required</span>
</div>
<%}%>

</div>

<div class="text-center">
  <ul class="pagination">
    <% for(var j=0;j<(rows.length/10);j++){  %>
    <li><a href="/work/board/page/<%=j+1%>"><%=j+1%></a></li>
    <% } %>
    <br />    <%=page%> / <%= Math.ceil(rows.length/10)%> page
  </ul>
</div>


</body>
</html>
