<!DOCTYPE html>
<html>
<head>
    <title>Board</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
#guestWrite:hover
{
color:red
}
</style>

<div class="container">
<h1><a href="./" class="glyphicon glyphicon-home lg" ></a>  <%= title %> Board</h1>
<h3>Username: <%=user.username%></h3>
<h3>Level:   <%=user.level%></h3>

<table border="2" class="table table-hover">
    <tr>
        <td><b>SEQ</b></td>
        <td><b>Writer</b></td>
        <td><b>Title</b></td>
        <td><b>Hit</b></td>
        <td><b>RegDate</b></td>
    </tr>
    <%if(rows){
         for(var i=0; i<rows.length; i++)
         {
            var oneItem = rows[i];
            console.log(oneItem);
    %>
    <tr>
        <td><%=oneItem.idx%></td>
        <td><%=oneItem.writer%></td>
        <td><a href="/work/board/read/<%=oneItem.idx%>"><%=oneItem.title%></a></td>
        <td><%=oneItem.hit%></td>
        <td><%=oneItem.regdate%></td>
    </tr>
    <%
         }
       }
    %>
</table>
<%if(user.username){%>
<a href="/work/board/write"><button class="btn btn-default pull-right">Write</a>
<%}%>
<%if(!user.username){%>
<div>
  <button id="guestWrite" class="btn btn-default pull-right" disabled>Write</a><br />
  <span>Login is required</span>
</div>
<%}%>

</div>

<div class="text-center">
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</div>


</body>
</html>
