<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
  $(document).ready(function(){
    $('#delbtn').click(function(){
    if(confirm('Are you sure?')){
      $('#delConfirm').submit();
      }
    })


  })
</script>
<body>
<div class="container">
<h1>Board</h1>
<form action="/work/board/del" id="delConfirm" method="post">
    <table border="2" class="table">
        <input type="hidden" name="idx" value="<%=rows[0].idx%>"/>
        <tr>
            <td>Writer</td>
            <td><%=rows[0].writer%></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><%=rows[0].title%></td>
        </tr>
        <tr>
          <td>RegDate</td>
          <td><%=rows[0].regdate%></td>
        </tr>
        <tr>
          <td>Hit</td>
          <td><%=rows[0].hit%></td>
        </tr>
        <tr height="300px">
            <td>Content</td>
            <td><h4><p><%=rows[0].content%></p></h4>
            <%if(image){ %>
              <img src='/<%-image%>'>
            <%}%>
            </td>
        </tr>
      </table>
<%if(user){%>
    <% if(user.username == rows[0].writer ||user.level == 'admin'){ %>
      <a href="/work/board/edit/<%=rows[0].idx %>"><input id="editbtn" type="button" class="btn btn-warning" value="Edit"/></a>
      <input type="button" class="btn btn-danger" id="delbtn" value="Del"/>
    <%}%>
    <% if(user.username != rows[0].writer &&user.level !='admin'){ %>
      <a href="/work/board/edit/<%=rows[0].idx %>"><input id="editbtn" type="button" class="btn btn-warning" value="Edit" disabled/></a>
      <input type="button" class="btn btn-danger" id="delbtn" value="Del" disabled/>
    <%}%>
<%}%>
      <a href="/work/board"><input type="button" class="btn btn-default" value="back" /></a>
  </form>
  <br />


<!-- under construction below ..del with pwdchk is required-->
  <!-- comments -->
<%if(results){%>
  <table>
    <% for(var i=0;i<results.length;i++){  %>
    <tr id="<%=results[i].cmtNo%>">
        <td><%=results[i].cmtWriter%>   :   </td>
        <td><%=results[i].cmt%></td>
        <td><%=results[i].cmtDate%></td>
        <td><a href="../commentDel/<%=results[i].cmtNo%>"><button class="btn btn-default" id="cmtDel">x</button></a></td>
    </tr>
    <% } %>
  </table><br />
<% } %>


  <!-- Leave comments -->
  <div>
    <form action="../comment/<%=rows[0].idx %>" method="post">
      <input type="text" name="cmtWriter" placeholder="name" value="" required/><br /><br />
      <textarea rows=5 cols=66 name="cmt" required></textarea><br />
      <input type="password" placeholder="password" name="cmtPwd" required/>
      <input type="submit" class="btn btn-default" value="Leave Comments" /><br />
    </form><br />
  </div>

<!-- under construction above-->

</div>

</body>
</html>
